.layout {
  width: 98vw; /* Take the full width of the viewport */
}

body {
  background-color: whitesmoke;
}

.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  width: 7.8125vw;
  height: 6.600660066006601vh;
  margin-left: 11.171875vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 5.9375vw;
  height: 3.3003300330033003vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.40625vw;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: rgba(96, 112, 255, 1);
}

.item-nav {
  width: 20.15625vw;
  height: 6.600660066006601vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  margin-right: 11.171875vw;
}

.frame-1 {
  width: 6.71875vw;
  height: 6.600660066006601vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.frame-2 {
  width: 6.71875vw;
  height: 6.600660066006601vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.frame-3 {
  width: 6.71875vw;
  height: 6.600660066006601vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-para {
  font-family: 'Poppins', sans-serif;
  font-size: 1.171875vw;
  font-weight: 500;
  line-height: 2vh;
  letter-spacing: 0;
  text-align: center;
}

.headline {
  height: 110.6039603960396vh;
  display: flex;
  background-image: url(Header\ bg\ final\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 20%;
  border: 1px solid rgba(223, 225, 230, 1);
  background-color: white;
}

.Text-Box {
  width: 71.875vw;
  height: 48.224422442244226vh;
  margin-top: 30.68976897689769vh;
  margin-left: 12.5vw;
  display: grid;
  grid-template-rows: 9.570957095709572vh 9.570957095709572vh 26vh;
}

.Heading-text {
  height: 10.13201320132013vh;
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 3.75vw;
  font-weight: 700;
  line-height: 0vh;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: rgba(9, 30, 66, 1);
}

.paragraph-text {
  height: 23vh;
}

.mid-para {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5625vw;
  font-weight: 400;
  line-height: 4.62046204620462vh;
  letter-spacing: 0;
  text-align: left;
}

.image1 {
  display: flex;
  justify-self: left;
  width: 1.5617187499999998vw;
  height: 3.293729372937294vh;
}

.image2 {
  width: 1.5625vw;
  height: 3.3003300330033003vh;
  top: 77.55775577557756vh;
  left: 4.921875vw;
}

.image3 {
  width: 1.5625vw;
  height: 2.6402640264026402vh;
  top: 77.88778877887789vh;
  left: 8.046875vw;
}

.image4 {
  width: 1.4054687499999998vw;
  height: 3.3003300330033003vh;
  top: 77.55775577557756vh;
  left: 11.171875vw;
}

.image5 {
  width: 1.10703125vw;
  height: 3.3003300330033003vh;
  top: 77.55775577557756vh;
  left: 14.0625vw;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 13.35859375vw;
  height: 3.293729372937294vh;
  align-items: baseline;
}

.lets-connect {
  width: auto;
  height: auto;
}

.work-Section {
  height: 444.55445544554453vh;
  top: 151.32013201320132vh;
  padding: 11.09375vw;
  gap: 23.432343234323433vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.card-1 {
  width: 73.3125vw;
  height: 81.84818481848185vh;
  display: flex;
  align-items: center;
  border: 1px solid rgba(223, 225, 230, 1);
  border-radius: 15px;
  background-color: white;
}

.card-2 {
  width: 73.3125vw;
  height: 81.84818481848185vh;
  display: flex;
  align-items: center;
  border: 1px solid rgba(223, 225, 230, 1);
  border-radius: 15px;
  background-color: white;
}

.card-3 {
  width: 73.3125vw;
  height: 81.84818481848185vh;
  display: flex;
  align-items: center;
  border: 1px solid rgba(223, 225, 230, 1);
  border-radius: 15px;
  background-color: white;
}

.card-4 {
  width: 73.3125vw;
  height: 81.84818481848185vh;
  display: flex;
  align-items: center;
  border: 1px solid rgba(223, 225, 230, 1);
  border-radius: 15px;
  background-color: white;
}

.portfolio-1 {
  width: 37.5vw;
  height: 73.92739273927393vh;
  top: 3.9603960396039604vh;
  left: 1.875vw;
  margin-left: 1.58125vw;
}

.elements {
  display: grid;
  width: 30vw;
  height: 73.43234323432343vh;
  top: 3.9603960396039604vh;
  left: 46.09375vw;
  padding: 1.875vw;
  gap: 3.9603960396039604vh;
  grid-template-rows: 11.551155115511552vh 8.250825082508252vh 9.900990099009901vh 7.425742574257426vh 4.9504950495049505vh;
  grid-gap: 1.6501650165016502vh;
}

.Heading-box {
  display: flex;
  width: 38.75vw;
  height: 7.590759075907591vh;
  justify-content: flex-start;
  align-items: center;
}

.Frame-box {
  display: flex;
  margin-left: 0.2vw;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.125vw;
  font-weight: 800;
  line-height: 0vw;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
  color: rgba(9, 30, 66, 1);
}

.photoframe-2 {
  width: 266px;
  height: 38px;
}

.Tag-box {
  display: flex;
  justify-content: left;
}

.tag-image {
  width: 15.859375vw;
  height: 3.9603960396039604vh;
}

.Para-box {
  width: 30.15625vw;
  height: 8.250825082508252vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.2vw;
}

.para {
  font-family: 'Poppins', sans-serif;
  font-size: 1.09375vw;
  font-weight: 400;
  line-height: 3.9603960396039604vh;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.project-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.2vw;
}

.elements2 {
  display: grid;
  width: 30vw;
  height: 73.43234323432343vh;
  top: 3.9603960396039604vh;
  left: 46.09375vw;
  padding: 1.875vw;
  gap: 3.9603960396039604vh;
  grid-template-rows: 11.551155115511552vh 8.250825082508252vh 12vh 7.425742574257426vh 4.9504950495049505vh;
  grid-gap: 1.6501650165016502vh;
}

.portfolio-2 {
  width: 37.5vw;
  height: 73.92739273927393vh;
  top: 3.9603960396039604vh;
  left: 46.09375vw;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.525vw;
  font-weight: 800;
  line-height: 0vw;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
  color: rgba(9, 30, 66, 1);
}

.Para-box2 {
  width: 29.15625vw;
  height: 8.250825082508252vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.2vw;
}

.photoframe-3 {
  width: 22.34375vw;
  height: 6.74955595026643vh;
}

.tag-image2 {
  width: 21.859375vw;
  height: 4.0603960396039604vh;
}
