.main-background {
  width: 368px;
  height: 2788px;
  top: 718px;
  gap: 88px;
  border: 2px solid blueviolet;
}

.card_1 {
  width: 327px;
  height: 552px;
  border-radius: 16px;
  gap: 12px;
  margin-top: 100px;
  margin-left: 19px;
  background: linear-gradient(0deg, #fff, #fff);
  border: 1px solid rgba(223, 225, 230, 1);
  display: grid;
  grid-template-rows: 220px 55px auto auto auto auto;
}

.Portfolio-box {
  display: flex;
  margin-left: 16px;
  margin-right: 22px;
  margin-top: 16px;
}

.Heading-box {
  display: flex;
}

.Frame-box {
  display: flex;
  justify-content: space-around;
  margin-right: 57px;
  margin-top: 8px;
}

h4 {
  margin-left: 17px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 18px;
  text-align: left;
  display: flex;
  justify-items: left;
  color: rgba(23, 43, 77, 1);
  align-items: self-start;
}

.frame-2 {
  width: 236px;
  height: 32px;
}

.Tag-box {
  display: flex;
  justify-content: left;
  margin-left: 17px;
  align-items: center;
}

.portfolio {
  width: 295px;
  height: 220px;
}

img {
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.Para-box {
  width: 295px;
  height: 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.para {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
  margin-left: 20px;
  margin-right: 20px;
}

.project-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 17px;
}
